<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
  <!-- 驱动路径-->
  <classPathEntry location="${projectDir}/build/driver/mysql-connector-java-8.0.22.jar" />
  <context id="context">
    <!-- 是否生成Lombok注解-->
    <plugin type="pub.techfun.mybatis.def.plugin.LombokPlugin"/>
    <!-- 是否生成Swagger3注解-->
    <plugin type="pub.techfun.mybatis.def.plugin.SwaggerPlugin"/>
    <!-- 去除自动生成的注解 -->
    <commentGenerator type="pub.techfun.mybatis.def.plugin.EmptyCommentGenerator"/>

    <jdbcConnection
        connectionURL="jdbc:mysql://localhost:3306/ds?serverTimezone=GMT%2B8"
        driverClass="com.mysql.cj.jdbc.Driver"
        password="111111"
        userId="root"
    >
      <!--   指定数据库，不生成其他数据库的表   -->
      <property name="nullCatalogMeansCurrent" value="true"/>
    </jdbcConnection>

    <javaModelGenerator
        targetPackage="test.entity"
        targetProject="/media/henry/DOC/opensource/gradle-mybatis-plugin/example/default-example"
    />

    <javaClientGenerator
        type="XMLMAPPER"
        targetPackage="test.mapper"
        targetProject="/media/henry/DOC/opensource/gradle-mybatis-plugin/example/default-example"
    />

    <table tableName="%%">
      <columnOverride column="id" javaType="java.math.BigInteger"/>
    </table>

  </context>
</generatorConfiguration>
